<!doctype html>
<html>
<head>
    <title>Apartman X - {{.Ad}}</title>
    <meta id="description" name="description" content="Apartman Yönetimi"/>
    <meta id="keywords" name="keywords" content="Apartman yönetimi , Daireler"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/root/img/icon.ico"/>
    <link rel="stylesheet" href="/root/css/bootstrap.css"/>
    <link rel="stylesheet" href="/root/css/style.css"/>
    <script src="/root/js/jquery-2.2.0.min.js"></script>
    <script src="/root/js/popper.min.js"></script>
    <script src="/root/js/bootstrap.min.js"></script>
    <script src="/root/js/apartmanx.js"></script>
</head>
<body>
<div class="container-fluid p0">
{{template "header.html" .}}
    <br/>
    <a href="{{.Link}}">
        <h3 style="margin-left:30px;color:#868e96;display: inline-block;">{{.Ad}}</h3>
    </a>
{{if eq .BorcKayitDurum 1}}
    <span class="text-success" style="margin-left: 50px;font-size: 18px;"> Borç Başarıyla Kaydedildi</span>
{{else if eq .BorcKayitDurum 2}}
    <span class="text-danger" style="margin-left: 50px;font-size: 18px;"> Daire Bulunamadı!</span>
{{end}}
    <hr/>
    <form action="" method="post" style="margin:0px 30px 0px 30px;padding:10px;border:1px #a5abb1 solid;">
        <div class="row m0">
            <div class="col-md-4" style="border-right: 1px lightgray solid;">
                <h5>Borç Bilgileri</h5>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Daire</label>
                    <div class="col-md-8">
                        <label class="form-check-label" style="margin-right: 10px;">
                            <input class="form-check-input" onchange="daireDegisim(1)" type="radio" name="dairesecim"
                                   value="1" checked>
                            Tek Daire
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" onchange="daireDegisim(2)" type="radio" name="dairesecim"
                                   value="2">
                            Tüm Daireler
                        </label>
                    </div>
                </div>
                <div class="form-group row" id="blokdaireno">
                    <label class="col-md-4 col-form-label">Blok/Daire No</label>
                    <div class="col-md-3">
                        <select class="form-control" name="blok" required="true" id="blok">
                        {{range $index,$daireblok := .DaireBlok}}
                            <option value="{{$daireblok}}">{{$daireblok}}</option>
                        {{end}}
                        </select>
                    </div>
                    <div class="col-md-1 text-center" style="margin-top:4px;">/</div>
                    <div class="col-md-3">
                        <input id="daireno" name="daireno" type="number" class="form-control" required="true"
                               maxlength="10" min="1" placeholder="Daire No"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Miktar</label>
                    <div class="col-md-7">
                        <input name="miktar" type="number" step="0.01" class="form-control" required="true"
                               maxlength="10" min="1"
                               placeholder="Miktar"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="border-right: 1px lightgray solid;">
                <h5 style="visibility: hidden;">Borç Bilgileri</h5>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Tarih</label>
                    <div class="col-md-7">
                        <label class="form-check-label" style="margin-right: 10px;">
                            <input class="form-check-input" onchange="tarihDegisim(1)" type="radio" name="zamangrup"
                                   value="1" checked>
                            Anlık
                        </label>
                        <label class="form-check-label">
                            <input class="form-check-input" onchange="tarihDegisim(2)" type="radio" name="zamangrup"
                                   value="2">
                            Aylık
                        </label>
                    </div>
                </div>
                <div class="form-group row" id="anlik">
                    <label class="col-md-4 col-form-label">Anlık</label>
                    <div class="col-md-7">
                        <input id="tarih1" name="tarih1" type="date" class="form-control" required="true"/>
                    </div>
                </div>
                <div class="form-group row" id="aylik" style="display: none;">
                    <label class="col-md-4 col-form-label">Aylık</label>
                    <div class="col-md-7">
                        <input id="tarih2" name="tarih2" type="month" class="form-control" required="true" disabled/>
                    </div>
                </div>
                <script type="text/javascript">
                    var tarih = new Date();
                    var tarih1 = tarih.getFullYear() + "-" + (tarih.getMonth() + 1) + "-" + tarih.getDate();
                    var tarih2 = tarih.getFullYear() + "-" + (tarih.getMonth() + 1);
                    document.getElementById("tarih1").defaultValue = tarih1;
                    document.getElementById("tarih2").defaultValue = tarih2;
                </script>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Kime</label>
                    <div class="col-md-7">
                        <select class="form-control" name="kime" required="true">
                            <option value="1">OTURAN</option>
                            <option value="2">MÜLK SAHİBİ</option>
                            <option value="3">KİRACI</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h5 style="visibility: hidden;">Borç Bilgileri</h5>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Gelir-Gider</label>
                    <div class="col-md-7">
                        <select class="form-control" name="grup" required="true">
                        {{range $index,$gelirgider := .GelirGiderler}}
                            <option value="{{$gelirgider.Id}}">{{$gelirgider.Ad}}</option>
                        {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Firma</label>
                    <div class="col-md-7">
                        <select class="form-control" name="firma">
                            <option value="-1"></option>
                        {{range $index,$firma := .Firmalar}}
                            <option value="{{$firma.Id}}">{{$firma.Ad}}</option>
                        {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Not</label>
                    <div class="col-md-7">
                        <textarea name="not" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row m0">
            <button type="submit" name="borckayit" value="tiktak" class="btn btn-dark"
                    style="cursor: pointer;margin-right: 10px;">
                Kaydet
            </button>
        </div>
    </form>
    <br/>
{{template "footer.html" .}}
</div>
</body>
</html>