<!doctype html>
<html>
<head>
    <title>Apartman X - {{.Ad}}</title>
    <meta id="description" name="description" content="Apartman Yönetimi"/>
    <meta id="keywords" name="keywords" content="Apartman yönetimi , Daireler"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/root/img/icon.ico"/>
    <link rel="stylesheet" href="/root/css/bootstrap.css"/>
    <link rel="stylesheet" href="/root/css/style.css"/>
    <script src="/root/js/jquery-2.2.0.min.js"></script>
    <script src="/root/js/popper.min.js"></script>
    <script src="/root/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function dairesiluyari() {
            document.getElementById("dairesilmeuyari").style.display = "block";
            yukseklikayarla();
            return false;
        }

        function yukseklikayarla() {
            var yukseklik = window.innerHeight;
            var aksiyon = document.getElementById("dairesilmeaksiyon");
            var divyukseklik = aksiyon.clientHeight;
            aksiyon.style.marginTop = (yukseklik / 2) - (divyukseklik / 2) + "px";
        }
    </script>
</head>
<body>
<div class="container-fluid p0">
{{template "header.html" .}}
    <br/>
    <a href="{{.Link}}">
        <h3 style="margin-left:30px;color:#868e96;display: inline-block;">{{.Ad}}</h3>
    </a>
{{if .DaireKayitDurum}}
    <span class="text-success" style="margin-left: 50px;font-size: 18px;"> Daire Başarıyla Kaydedildi</span>
{{else if .DaireSilDurum}}
    <span class="text-info" style="margin-left: 50px;font-size: 18px;"> Daire Başarıyla Silindi</span>
{{end}}
    <hr/>
    <div class="row m0" style="margin:0px 30px 0px 30px;padding:10px;">
        <form method="get">
            <div class="form-group row">
                <div class="col-md-3">
                    <select class="form-control" name="blok">
                    {{range $index,$daireblok := .DaireBlok}}
                        <option value="{{$daireblok}}">{{$daireblok}}</option>
                    {{end}}
                    </select>
                </div>
                <div class="col-md-1" style="padding-top: 6px;">
                    /
                </div>
                <div class="col-md-3">
                    <input type="number" name="daireno" class="form-control" required="true" maxlength="10" min="1"
                           placeholder="Daire No"/>
                </div>
                <div class="col-md-5">
                    <button class="btn btn-dark" style="cursor: pointer;">ARA</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        function kontrolet() {
            var mulksahibi = document.getElementById("mulksahibi").value;
            var kiraci = document.getElementById("kiraci").value;
            if (mulksahibi == "") {
                alert("Mülk sahibi boş olamaz!");
                return false;
            }
            return true;
        }

        var ayrintiistekdurummulk = false;
        var ayrintiistekdurumkira = false;

        function formclick() {
            if (!ayrintiistekdurummulk) {
                document.getElementById("ayrintimulksahibi").style.display = "none";
            }

            if (!ayrintiistekdurumkira) {
                document.getElementById("ayrintikiraci").style.display = "none";
            }

            ayrintiistekdurummulk = false;
            ayrintiistekdurumkira = false;
        }

        function ayrintiistek(idistek) {
            if (idistek == "ayrintimulksahibi") {
                ayrintiyaz("idmulksahibi", idistek);
                document.getElementById(idistek).style.display = "block";
                document.getElementById("ayrintikiraci").style.display = "none";
                ayrintiistekdurummulk = true;
                ayrintiistekdurumkira = false;
            } else if (idistek == "ayrintikiraci") {
                ayrintiyaz("idkiraci", idistek);
                document.getElementById(idistek).style.display = "block";
                document.getElementById("ayrintimulksahibi").style.display = "none";
                ayrintiistekdurumkira = true;
                ayrintiistekdurummulk = false;
            }
        }

        function ayrintiyaz(idyaz, idistek) {
            var ayrintiid = document.getElementById(idyaz).value;
            var adyaz = document.getElementById("ad" + ayrintiid).innerText;
            var soyadyaz = document.getElementById("soyad" + ayrintiid).innerText;
            var telefonyaz = document.getElementById("telefon" + ayrintiid).innerText;
            var cinsiyetyaz = document.getElementById("cinsiyet" + ayrintiid).innerText;
            var yasyaz = document.getElementById("yas" + ayrintiid).innerText;
            var zamanyaz = document.getElementById("zaman" + ayrintiid).innerText;
            var sonucyaz = adyaz + " " + soyadyaz + " " + telefonyaz + " " + cinsiyetyaz + " " + yasyaz + " " + zamanyaz;
            document.getElementById(idistek).innerText = sonucyaz;
        }

    </script>
    <form action="" method="post" style="margin:0px 30px 0px 30px;padding:10px;border:1px #a5abb1 solid;"
          onclick="formclick()"
          onsubmit="return kontrolet()">
        <div class="row m0">
            <div class="col-md-5">
                <h5>Genel Bilgiler</h5>
                <div class="form-group row">
                    <label class="col-md-5 col-form-label">Blok/Daire No</label>
                    <div class="col-md-3">
                        <select class="form-control" name="blok">
                        {{if .DaireAra}}
                        {{$blok := .DaireBilgi.Blok}}
                        {{range $index,$daireblok := .DaireBlok}}
                        {{if eq $daireblok $blok}}
                            <option value="{{$daireblok}}" selected>{{$daireblok}}</option>
                        {{else}}
                            <option value="{{$daireblok}}">{{$daireblok}}</option>
                        {{end}}
                        {{end}}
                        {{else}}
                        {{range $index,$daireblok := .DaireBlok}}
                            <option value="{{$daireblok}}">{{$daireblok}}</option>
                        {{end}}
                        {{end}}
                        </select>
                    </div>
                    <div class="col-md-1 text-center" style="margin-top:4px;">/</div>
                    <div class="col-md-3">
                        <input name="daireno" type="number" class="form-control" required="true" maxlength="10" min="1"
                        {{if .DaireAra}} value="{{.DaireBilgi.Daireno}}"{{end}} />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-5 col-form-label">Mülk Sahibi</label>
                    <div class="col-md-5">
                        <input id="idmulksahibi" name="mulksahibiId" style="display: none;" {{if .DaireAra}}
                               value="{{.DaireBilgi.MulksahibiId}}"{{end}}/>
                        <button id="ayrintimulksahibi" class="btn btn-dark"
                                style="display: none;position: absolute;top: -40px;" disabled>Ayrıntılar
                        </button>
                        <input id="mulksahibi" type="text" name="mulksahibi" class="form-control" required="true"
                               maxlength="50"
                        {{if .DaireAra}}
                               value="{{.DaireBilgi.Mulksahibi}}" onclick="ayrintiistek('ayrintimulksahibi')" {{end}}
                               readonly/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-light" onclick="return goster(1)" style="cursor: pointer;">Liste</button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-5 col-form-label">Kiracı</label>
                    <div class="col-md-5">
                        <input id="idkiraci" name="kiraciId" style="display: none;" {{if .DaireAra}}
                               value="{{.DaireBilgi.KiraciId}}"{{end}} />
                        <button id="ayrintikiraci" class="btn btn-dark"
                                style="display: none;position: absolute;top: -40px;" disabled>Ayrıntılar
                        </button>
                        <input id="kiraci" type="text" name="kiraci" class="form-control" required="true" maxlength="50"
                        {{if .DaireAra}}
                               value="{{.DaireBilgi.Kiraci}}" onclick="ayrintiistek('ayrintikiraci')" {{end}} readonly/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-light" onclick="return goster(2)" style="cursor: pointer;">Liste</button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-5 col-form-label">Tipi</label>
                    <div class="col-md-7">
                    {{$tipiid := .DaireBilgi.TipiId}}
                        <select class="form-control" name="tipiId">
                        {{if .DaireAra}}
                        {{$tipiid := .DaireBilgi.TipiId}}
                        {{range $i,$tipi := .Tipi}}
                        {{if eq $tipiid $tipi.Id}}
                            <option value="{{$tipi.Id}}" selected>{{$tipi.Ad}}</option>
                        {{else}}
                            <option value="{{$tipi.Id}}">{{$tipi.Ad}}</option>
                        {{end}}
                        {{end}}
                        {{else}}
                        {{range $i,$tipi := .Tipi}}
                        {{if eq $i 0}}
                            <option value="{{$tipi.Id}}" selected>{{$tipi.Ad}}</option>
                        {{else}}
                            <option value="{{$tipi.Id}}">{{$tipi.Ad}}</option>
                        {{end}}
                        {{end}}
                        {{end}}
                        </select>
                    </div>
                </div>
            </div>
            <div id="bilgikasa" class="col-md-7" style="padding-left: 50px;">
                <h5>Diğer Bilgiler</h5>
                <script type="text/javascript">
                    var sayi = 1;

                    function bilgiekle() {
                        var deger = document.getElementById("bilgiad").value;
                        if (deger == "" || sayi > 50) {
                            return false;
                        }

                        document.getElementById("bilgikasa").innerHTML += `
									<div class="form-group row" id="alanekstra` + sayi + `">
										<label class="col-md-4 col-form-label">` + deger + `</label>
										<div class="col-md-6">
											<input type="text" name="ekstra` + sayi + `:` + deger + `" class="form-control"  maxlength="50" required="true" />
										</div>
										 <div class="col-md-2">
                                            <button class="btn btn-danger" style="cursor: pointer;" onclick="return bilgisil('alanekstra` + sayi + `')">Alanı Sil</button>
                                        </div>
									</div>
								`;
                        sayi++;
                        return false;
                    }

                    function bilgisil(id) {
                        document.getElementById(id).remove();
                        return false;
                    }
                </script>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Bilgi Ekle</label>
                    <div class="col-md-8">
                        <input id="bilgiad" class="form-control" placeholder="Ad" maxlength="20"/>
                    </div>
                    <div class="col-md-2">
                        <button onclick="return bilgiekle();" class="btn btn-dark" style="cursor: pointer;">Ekle
                        </button>
                    </div>
                </div>
                <hr/>
            {{if .EkstraVarMi}}
            {{range $index,$veri := .DaireBilgi.Ekstra}}
                <script type="text/javascript">
                    sayi++;
                </script>
                <div class="form-group row" id="alan{{$index}}">
                    <label class="col-md-4 col-form-label">{{index $veri 0}}</label>
                    <div class="col-md-6">
                        <input type="text" name="{{$index}}:{{index $veri 0}}" class="form-control" maxlength="50"
                               value="{{index $veri 1}}" required="true"/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-danger" style="cursor: pointer;"
                                onclick="return bilgisil('alan{{$index}}')">Alanı Sil
                        </button>
                    </div>
                </div>
            {{end}}
            {{end}}
            </div>
        </div>
        <hr/>
        <div class="row m0">
            <button type="submit" name="dairekayit" value="tiktak" class="btn btn-dark"
                    style="cursor: pointer;margin-right: 10px;">
                Kaydet
            </button>
            <button class="btn btn-danger"
                    style="cursor: pointer;margin-right: 10px;"
                    {{if ne .DaireAra true}}disabled{{end}} onclick="return dairesiluyari()">
                Daireyi Sil
            </button>
        </div>
        <!-- daire silme uyarı - daire silme uyarı - daire silme uyarı - daire silme uyarı - daire silme uyarı - daire silme uyarı -->
        <script type="text/javascript">
            var uyaricoltik = false;
            function dairesilmekapat() {
                if(!uyaricoltik){
                    document.getElementById("dairesilmeuyari").style.display = "none";
                }
                uyaricoltik = false;
            }
            function uyaricol() {
                uyaricoltik = true;
            }

            function uyarikapat() {
                document.getElementById("dairesilmeuyari").style.display = "none";
                return false;
            }
        </script>
        <div id="dairesilmeuyari" class="container-fluid" onclick="dairesilmekapat()"
             style="position: fixed;background-color: rgba(0,0,0,0.5);left:0px;top:0px;width: 100%;height: 100%;display: none;">
            <div class="row m0">
                <div class="col-md-4">
                </div>
                <div id="dairesilmeaksiyon" class="col-md-4 text-center" onclick="uyaricol()"
                     style="background-color: #f7f7f9;border-radius: 10px;padding: 10px;border: 1px lightgray solid;
             box-shadow: 6px 6px 10px 0 rgba(255, 255, 255, 0.2);">
                    <p class="lead">Daireyi silerseniz daire hareketleri, borçlar ve ödemelerde dahil tüm bilgileri kaybedersiniz !</p>
                    <br/>
                    <p class="lead">Silmek istediğinizden emin misiniz ?</p>
                    <br/>
                    <button class="btn btn-dark" style="cursor: pointer;margin:0px 10px 0px 10px;" onclick="return uyarikapat()">VAZGEÇ</button>
                    <button type="submit" name="dairesil" value="tiktak" class="btn btn-dark"
                            style="cursor: pointer;margin:0px 10px 0px 10px;">
                        SİL
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div><!-- daire silme uyarı son -->
    </form>
    <br/>
{{template "footer.html" .}}
</div>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////////// Kişi Seçimi //////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<script type="text/javascript">
    var sec = 0; // eğer seç 1 olursa mülksahibi için, 0 olursa kiracı için tıklanmış demektir.
    function kisisec(id, ad, soyad) {
        if (sec == 1) {
            if (id == "bos") {
                document.getElementById("mulksahibi").value = "";
                document.getElementById("idmulksahibi").value = "";
            } else {
                document.getElementById("mulksahibi").value = ad + " " + soyad;
                document.getElementById("idmulksahibi").value = id;
            }
        } else if (sec == 2) {
            if (id == "bos") {
                document.getElementById("kiraci").value = "";
                document.getElementById("idkiraci").value = "";
            } else {
                document.getElementById("kiraci").value = ad + " " + soyad;
                document.getElementById("idkiraci").value = id;
            }
        }
        document.getElementById("kisilistesi").style.display = "none";
    }

    var tiktab = false;

    function kisilistesi(durum) {
        var liste = document.getElementById("kisilistesi");
        if (durum == 1) {
            liste.style.display = "block";
        } else if (durum == 2) {
            if (!tiktab) {
                liste.style.display = "none";
            }
        }
        tiktab = false;
    }

    function tableclick() {
        tiktab = true;
    }

    function goster(durum) {
        sec = durum;
        document.getElementById("kisilistesi").style.display = "block";
        return false;
    }

    function cik() {
        document.getElementById("kisilistesi").style.display = "none";
    }
</script>
<div id="kisilistesi" class="container-fluid" onclick="kisilistesi(2)"
     style="position: fixed;background-color: rgba(50,50,50,0.5);left:0px;top:0px;width: 100%;height: 100%;display: none;">
    <div class="row m0" style="height:100%;overflow: auto;">
        <div class="col-md-12">
            <button class="btn btn-dark" style="cursor:pointer;margin-top: 10px;" onclick="cik()">X</button>
            <br/><br/>
            <table id="listetablo" onclick="tableclick()" class="table table-striped table-bordered"
                   style="background-color: white;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Soyad</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Cinsiyet</th>
                    <th scope="col">Yaş</th>
                    <th scope="col">Zaman</th>
                    <th scope="col">Kaydet</th>
                </tr>
                </thead>
                <tbody>
                <tr id="">
                    <th scope="row">
                        <button class="btn btn-light" disabled></button>
                    </th>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-dark"
                                onclick="kisisec('bos','','')"
                                style="cursor:pointer;">
                            Seç
                        </button>
                    </td>
                </tr>
                {{range $index,$kisi := .KisilerBilgi}}
                <tr id="{{$kisi.Id}}">
                    <th scope="row">
                        <button class="btn btn-light" disabled>{{$index}}</button>
                    </th>
                    <td>
                        <button id="ad{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Ad}}</button>
                    </td>
                    <td>
                        <button id="soyad{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Soyad}}</button>
                    </td>
                    <td>
                        <button id="telefon{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Telefon}}</button>
                    </td>
                    <td>
                        <button id="cinsiyet{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Cinsiyet}}</button>
                    </td>
                    <td>
                        <button id="yas{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Yas}}</button>
                    </td>
                    <td>
                        <button id="zaman{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Zaman}}</button>
                    </td>
                    <td>
                        <button class="btn btn-dark"
                                onclick="kisisec('{{$kisi.Id}}','{{$kisi.Ad}}','{{$kisi.Soyad}}')"
                                style="cursor:pointer;">
                            Seç
                        </button>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
