<!doctype html>
<html>
<head>
    <title>Apartman X - {{.Ad}}</title>
    <meta id="description" name="description" content="Apartman Yönetimi"/>
    <meta id="keywords" name="keywords" content="Apartman yönetimi , Daireler"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/root/img/icon.ico"/>
    <link rel="stylesheet" href="/root/css/bootstrap.css"/>
    <link rel="stylesheet" href="/root/css/style.css"/>
    <script src="/root/js/jquery-2.2.0.min.js"></script>
    <script src="/root/js/popper.min.js"></script>
    <script src="/root/js/bootstrap.min.js"></script>
    <script src="/root/js/apartmanx.js"></script>
    <script type="text/javascript">
        function sablonukaydet() {
            var sablonadi = document.getElementById("sablonadi").value;
            if (sablonadi == "") {
                return false;
            }
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "/post",
                    data: {
                        sablonkayit: "tiktak",
                        ad: sablonadi,
                        link: window.location.search
                    },
                    dataType: "json",
                    success: function (result) {
                        document.getElementById("kayit" + result.sonuc).style.display = "block";
                        document.getElementById("bosdiv").style.display = "none";
                        setTimeout(function () {
                            document.getElementById("kayit" + result.sonuc).style.display = "none";
                            document.getElementById("bosdiv").style.display = "block";
                        }, 5000);
                    },
                    error: function (err) {
                        alert("hata oluştu!");
                    }
                });
            });
            return true;
        }

        function kisisectik() {
            var kst = document.getElementById("kisidagit");
            var kisisecim = document.getElementById("kisisecim");
            if (kst.checked) {
                kisisecim.style.display = "flex";
            } else {
                kisisecim.style.display = "none";
            }
        }
    </script>
</head>
<body>
<div class="container-fluid p0">
{{template "header.html" .}}
    <br/>
    <a href="{{.Link}}">
        <h3 style="margin-left:30px;color:#868e96;display: inline-block;">{{.Ad}}</h3>
    </a>
    <hr/>
    <form action="" method="get" style="margin:0px 30px 0px 30px;padding:10px;border:1px #a5abb1 solid;">
        <div class="row m0">
            <div class="col-md-3" style="border-right: 1px lightgray solid;">
                <h5>Rapor Bilgileri</h5>
                <div class="form-group row">
                    <div class="col-md-10">Bilgileri Kişilere Dağıt</div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="kisidagit" value="xxx" id="kisidagit"
                                   onclick="kisisectik()">
                        </div>
                    </div>
                </div>
                <div class="form-group row" id="kisisecim" style="display: none;">
                    <label class="col-md-2 col-form-label">Kişi</label>
                    <div class="col-md-6">
                        <input id="kisiid" name="kisiid" style="display: none;"/>
                        <button id="ayrintikisi" class="btn btn-dark"
                                style="display: none;position: absolute;top: -40px;z-index: 1;"
                                disabled>
                            Ayrıntılar
                        </button>
                        <input id="kisi" type="text" class="form-control" required="true"
                               maxlength="50"
                               onclick="ayrintiistek('ayrintikisi')" readonly/>
                    </div>
                    <div class=" col-md-2">
                        <button class="btn btn-light" onclick="return goster('')"
                                style="cursor: pointer;">Liste
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Kime</label>
                    <div class="col-md-7">
                        <select class="form-control" name="kime">
                            <option value=""></option>
                            <option value="1">OTURAN</option>
                            <option value="2">MÜLK SAHİBİ</option>
                            <option value="3">KİRACI</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="border-right: 1px lightgray solid;">
                <h5 style="visibility: hidden;">Rapor Bilgileri</h5>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Blok</label>
                    <div class="col-md-7">
                        <select class="form-control" name="blok">
                            <option value=""></option>
                        {{range $index,$daireblok := .DaireBlok}}
                            <option value="{{$daireblok}}">{{$daireblok}}</option>
                        {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Daire No</label>
                    <div class="col-md-7">
                        <input name="daireno" type="number" class="form-control"
                               maxlength="10" min="1"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3" style="border-right: 1px lightgray solid;">
                <h5 style="visibility: hidden;">Rapor Bilgileri</h5>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Baş. Tarihi</label>
                    <div class="col-md-7">
                        <input name="bastarih" type="date" class="form-control"/>
                    </div>
                </div>
                <div class="form-group row" id="aylik">
                    <label class="col-md-4 col-form-label">Bit. Tarihi</label>
                    <div class="col-md-7">
                        <input name="bittarih" type="date" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h5 style="visibility: hidden;">Rapor Bilgileri</h5>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Firma</label>
                    <div class="col-md-7">
                        <select class="form-control" name="firmaid">
                            <option value=""></option>
                        {{range $index,$firma := .Firmalar}}
                            <option value="{{$firma.Id}}">{{$firma.Ad}}</option>
                        {{end}}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label">Gelir-Gider</label>
                    <div class="col-md-7">
                        <select class="form-control" name="gelirgiderid">
                            <option value=""></option>
                        {{range $index,$gelirgider := .GelirGiderler}}
                            <option value="{{$gelirgider.Id}}">{{$gelirgider.Ad}}</option>
                        {{end}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row m0">
            <button type="submit" name="rapor" value="ozelrapor" class="btn btn-dark"
                    style="cursor: pointer;margin-right: 10px;">
                Sorgula
            </button>
        </div>
    </form>
    <hr/>
{{if .AramaDurum}}
    <div class="row m0">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-1 col-form-label">Şablon Adı:</label>
                <div class="col-md-2">
                    <input id="sablonadi" type="text" class="form-control"/>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark" style="cursor: pointer;" onclick="return sablonukaydet()">
                        Şablonu Kaydet
                    </button>
                </div>
                <label id="kayitolumlu" class="col-md-5 col-form-label text-success" style="display: none;">
                    Başarıyla kaydedildi.
                </label>
                <label id="kayitsinir" class="col-md-5 col-form-label text-danger" style="display: none;">
                    Kayıt başarısız :( Tanımlı rapor sınırına ulaşıldı!
                </label>
                <label id="kayitolumsuz" class="col-md-5 col-form-label text-danger" style="display: none;">
                    Kayıt başarısız :(
                </label>
                <div id="bosdiv" class="col-md-5"></div>
                <div class="col-md-2">
                    <button class="btn btn-info" style="cursor: pointer;" onclick="raporal()">
                        Rapor Al
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br/>
{{if .LinkVeri.KisiDagit}}
        {{template "ozelRaporKisi.html" .}}
    {{else}}
        {{template "ozelRaporDaire.html" .}}
    {{end}}
{{end}}
    <br/>
{{template "footer.html" .}}
</div>


<!-- kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi -->
<!-- kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi -->
<!-- kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi - kişi listesi -->
<script type="text/javascript">
    var aktifekran = 0;

    function kisisec(id, ad, soyad) {
        if (id == "bos") {
            document.getElementById("kisi" + aktifekran).value = "";
            document.getElementById("kisiid" + aktifekran).value = "";
        } else {
            document.getElementById("kisi" + aktifekran).value = ad + " " + soyad;
            document.getElementById("kisiid" + aktifekran).value = id;
        }
        document.getElementById("kisilistesi").style.display = "none";
    }

    var tiktab = false;

    function kisilistesi(durum) {
        var liste = document.getElementById("kisilistesi");
        if (durum == 1) {
            liste.style.display = "block";
        } else if (durum == 2) {
            if (!tiktab) {
                liste.style.display = "none";
            }
        }
        tiktab = false;
    }

    function tableclick() {
        tiktab = true;
    }

    var aktifekran = 0;

    function goster(id) {
        aktifekran = id;
        document.getElementById("kisilistesi").style.display = "block";
        return false;
    }

    function cik() {
        aktifekran = 0;
        document.getElementById("kisilistesi").style.display = "none";
    }
</script>
<div id="kisilistesi" class="container-fluid" onclick="kisilistesi(2)"
     style="position: fixed;background-color: rgba(50,50,50,0.5);left:0px;top:0px;width: 100%;height: 100%;display: none;z-index:10;">
    <div class="row m0" style="height:100%;overflow: auto;">
        <div class="col-md-12">
            <button class="btn btn-dark" style="cursor:pointer;margin-top: 10px;" onclick="cik()">X</button>
            <br/><br/>
            <table id="listetablo" onclick="tableclick()" class="table table-striped table-bordered"
                   style="background-color: white;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ad</th>
                    <th scope="col">Soyad</th>
                    <th scope="col">Telefon</th>
                    <th scope="col">Cinsiyet</th>
                    <th scope="col">Yaş</th>
                    <th scope="col">Zaman</th>
                    <th scope="col">Kaydet</th>
                </tr>
                </thead>
                <tbody>
                <tr id="">
                    <th scope="row">
                        <button class="btn btn-light" disabled></button>
                    </th>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-light" disabled></button>
                    </td>
                    <td>
                        <button class="btn btn-dark"
                                onclick="kisisec('bos','','')"
                                style="cursor:pointer;">
                            Seç
                        </button>
                    </td>
                </tr>
                {{range $index,$kisi := .KisilerBilgi}}
                <tr id="{{$kisi.Id}}">
                    <th scope="row">
                        <button class="btn btn-light" disabled>{{$index}}</button>
                    </th>
                    <td>
                        <button id="ad{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Ad}}</button>
                    </td>
                    <td>
                        <button id="soyad{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Soyad}}</button>
                    </td>
                    <td>
                        <button id="telefon{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Telefon}}</button>
                    </td>
                    <td>
                        <button id="cinsiyet{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Cinsiyet}}</button>
                    </td>
                    <td>
                        <button id="yas{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Yas}}</button>
                    </td>
                    <td>
                        <button id="zaman{{$kisi.Id}}" class="btn btn-light" disabled>{{$kisi.Zaman}}</button>
                    </td>
                    <td>
                        <button class="btn btn-dark"
                                onclick="kisisec('{{$kisi.Id}}','{{$kisi.Ad}}','{{$kisi.Soyad}}')"
                                style="cursor:pointer;">
                            Seç
                        </button>
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>
        </div>
    </div>
</div><!-- kişi listesi son -->
</body>
</html>
