<!doctype html>
<html>
<head>
    <title>Apartman X - İletişim</title>
    <meta id="description" name="description" content="Apartman Yönetimi"/>
    <meta id="keywords" name="keywords" content="Apartman yönetimi , Daireler"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="/root/img/icon.ico"/>
    <link rel="stylesheet" href="/root/css/bootstrap.css"/>
    <link rel="stylesheet" href="/root/css/style.css"/>
    <script src="/root/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/root/js/popper.min.js"></script>
    <script src="/root/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid p0">
{{template "header.html" .}}
    <br/>
    <div class="row m0 text-center">
        <div class="col-md-12">
            <p class="lead text-info" style="font-size: 24px;"><b>İletişim Adresi: info@apartmanx.com</b></p>
        </div>
    </div>
    <br/>
{{template "footer.html" .}}
</div>
</body>
</html>
